html {
  scroll-behavior: smooth;
}

.frame {
  max-width: 1280px;
  margin: auto;
}

.frame .wrap {
  margin: 0;
  padding: 80px 40px 100px 40px;
}

@media (max-width: 768px) {
  .frame .wrap {
    padding: 42px 10px;
    text-align: center;
  }
}

h1,
h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  p {
    text-align: justify;
  }
}

.btn {
  background: #F1CDB3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #FDDCC4;
}

.border-btn_hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.border-btn_hover:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

#btn_not-active {
  pointer-events: none;
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.logo {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo_hide {
  opacity: 0;
}

.logo__title {
  font-size: 32px;
  line-height: 35px;
  color: #F1CDB3;
}

.logo__subtitle {
  letter-spacing: 0.1em;
  line-height: 15px;
  font-size: 13px;
  margin: 11px 0 0 3px;
}

.nav__burger {
  position: relative;
  z-index: 2;
  display: none;
}

@media (max-width: 768px) {
  .nav__burger {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block;
    margin-right: 43px;
  }
}

.burger_rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.burger-bg {
  position: fixed;
  opacity: 0;
  top: 0;
  right: -100%;
  width: 100%;
  height: 823px;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 1;
  -webkit-transition: opacity 0.5s, right 0s;
  transition: opacity 0.5s, right 0s;
}

.burger__sidebar {
  position: fixed;
  overflow: auto;
  top: 0;
  right: -100%;
  width: 320px;
  height: 823px;
  background-color: #292929;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger__sidebar .nav__menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 115px 0;
  font-size: 32px;
  line-height: 51px;
  gap: 43px;
}

.sidebar__shadow {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #292929;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0px 12px 80px 88px #292929;
          box-shadow: 0px 12px 80px 88px #292929;
}

.noscroll {
  overflow: hidden;
}

.sidebar_active {
  right: 0;
  opacity: 1;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 24px;
  gap: 35px;
}

@media (max-width: 768px) {
  .nav__menu {
    display: none;
  }
}

.nav__link {
  color: #CDCDCD;
}

.nav__link a {
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link:hover a {
  color: #FAFAFA;
}

.nav__link_active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.footer {
  background: url("../../img/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer .wrap {
  padding: 40px 40px 0 40px;
  text-align: left;
}

@media (max-width: 1280px) {
  .footer .wrap {
    padding: 14px 63px 0 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer .wrap {
    padding: 30px 10px 0;
    text-align: center;
  }
}

.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .content .content__img {
  width: 300px;
}

@media (max-width: 768px) {
  .footer .content .content__img {
    width: calc(260px + 40 * ((100vw - 320px) / 448));
  }
}

@media (max-width: 1280px) {
  .footer .content {
    max-width: 1000px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 65px 60px;
  }
}

@media (max-width: 768px) {
  .footer .content {
    gap: 40px;
  }
}

.footer .content .contacts_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 280px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .footer .content .contacts_flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
  }
}

.footer .content h2 {
  font-size: 35px;
  color: #fff;
}

@media (max-width: 768px) {
  .footer .content h2 {
    font-size: 25px;
    line-height: 32px;
  }
}

.footer .content .contacts_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer .content .content__text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #F1CDB3;
  width: 260px;
}

@media (max-width: 768px) {
  .footer .content .content__text {
    width: auto;
    text-align: left;
  }
}

.footer .content .location {
  gap: 33px;
  width: 302px;
}

@media (max-width: 768px) {
  .footer .content .location__address {
    width: 100%;
  }
  .footer .content .location__head {
    width: 270px;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  cursor: pointer;
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover .card__btn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.card .card__btn {
  background-color: #fff;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 187px;
  height: 52px;
}

.card h2 {
  font-size: 20px;
  line-height: 23px;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  gap: 90px;
  margin: 53px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1280px) {
  .slider__wrap {
    gap: calc(40px + 50 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 1280px) {
  .slider__wrap {
    margin: calc(12px + 41 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 1280px) {
  .slider__wrap {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.btn {
  width: 261px;
}

.slider__arrow {
  cursor: pointer;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
}

.welcome {
  background: url("../../img/noise_lines_transparent@2X.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #fff;
}

.welcome .wrap {
  padding: 60px 40px 0px 40px;
}

@media (max-width: 1280px) {
  .welcome .wrap {
    padding: 30px 30px 0 30px;
  }
}

@media (max-width: 768px) {
  .welcome .wrap {
    padding: 30px 10px 0 10px;
  }
}

.welcome .poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

@media (max-width: 1280px) {
  .welcome .poster {
    gap: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome .poster .btn_center {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .welcome .poster {
    gap: 105px;
    gap: calc(105px + -5 * ((100vw - 320px) / 448));
  }
}

.welcome .poster img {
  width: 698px;
}

@media (max-width: 1280px) {
  .welcome .poster img {
    width: calc(569px + 129 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 1280px) {
  .welcome .poster img {
    margin-left: 140px;
  }
}

@media (max-width: 768px) {
  .welcome .poster img {
    margin-left: 40px;
    width: calc(260px + 309 * ((100vw - 320px) / 448));
  }
}

.welcome .tagline {
  width: 460px;
  margin-top: 163px;
  width: 460px;
}

@media (max-width: 1280px) {
  .welcome .tagline {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .welcome .tagline {
    width: calc(300px + 160 * ((100vw - 320px) / 448));
  }
}

.welcome .tagline .btn {
  width: 207px;
}

.welcome .tagline__head h2 {
  color: #fff;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: -0.01em;
}

@media (max-width: 768px) {
  .welcome .tagline__head h2 {
    font-size: 25px;
    line-height: 32px;
  }
}

.welcome .tagline__subhead {
  margin: 42px 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  letter-spacing: normal;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 24px;
  width: 460px;
}

@media (max-width: 768px) {
  .welcome .tagline__subhead {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .welcome .tagline__subhead {
    width: calc(300px + 160 * ((100vw - 320px) / 448));
  }
}

.about {
  background-color: #fff;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

.about .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
  gap: 120px;
}

.about .wrap .content__img {
  width: 300px;
  height: 408px;
}

@media (max-width: 768px) {
  .about .wrap .content__img {
    width: calc(260px + 40 * ((100vw - 320px) / 448));
  }
}

@media (max-width: 768px) {
  .about .wrap .content__img {
    height: calc(354px + 54 * ((100vw - 320px) / 448));
  }
}

@media (max-width: 768px) {
  .about .wrap .content__img {
    margin-top: -4px;
  }
}

@media (max-width: 1280px) {
  .about .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .about .wrap {
    padding: 42px 25px;
  }
}

@media (max-width: 1280px) {
  .about .wrap {
    gap: calc(80px + 40 * ((100vw - 768px) / 512));
  }
}

.about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  max-width: 430px;
}

@media (max-width: 768px) {
  .about .content {
    gap: 23px;
  }
}

.about .content:nth-child(2) {
  margin: 0;
}

.pets {
  width: 100%;
  background-color: #F6F6F6;
}

.pets .wrap {
  text-align: center;
}

.pets .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

@media (max-width: 1280px) {
  .pets .card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .pets .card:nth-child(2),
  .pets .slider__arrow {
    display: none;
  }
}

.pets .sliders__arrow_mobile {
  display: none;
}

@media (max-width: 768px) {
  .pets .sliders__arrow_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    gap: 80px;
  }
  .pets .sliders__arrow_mobile .arrow_mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .pets .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pets .content {
    gap: 42px;
  }
}

.help {
  background-color: #fff;
}

.help .wrap {
  text-align: center;
}

.help .head {
  margin-bottom: 60px;
}

@media (max-width: 1280px) {
  .help .head {
    margin-bottom: 57px;
  }
}

@media (max-width: 768px) {
  .help .head {
    margin-bottom: 36px;
  }
}

.help .help-list {
  width: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 52px 120px;
  margin: auto;
}

@media (max-width: 1280px) {
  .help .help-list {
    gap: 55px 60px;
    width: 630px;
  }
}

@media (max-width: 768px) {
  .help .help-list {
    gap: 30px;
    width: 290px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 1280px) {
  .help .help-list .elem {
    width: 170px;
    height: 113px;
  }
}

@media (max-width: 768px) {
  .help .help-list .elem {
    width: 130px;
    height: 87px;
  }
}

.help .help-list .elem img {
  margin-bottom: 26px;
}

@media (max-width: 768px) {
  .help .help-list .elem img {
    margin-bottom: 20px;
    width: 50px;
  }
}

.help .help-list .elem p {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}

@media (max-width: 768px) {
  .help .help-list .elem p {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
  }
}

.donation {
  background-color: #F6F6F6;
  height: auto;
}

.donation .wrap {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

@media (max-width: 1280px) {
  .donation .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .donation .wrap {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 42px;
  }
}

.donation .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 0;
}

@media (max-width: 768px) {
  .donation .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.donation .content__head {
  max-width: 300px;
}

.donation .content__img {
  width: 505px;
}

@media (max-width: 768px) {
  .donation .content__img {
    width: calc(260px + 245 * ((100vw - 320px) / 448));
  }
}

.donation p {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 15px;
  line-height: 17px;
  color: #545454;
}

@media (max-width: 768px) {
  .donation p {
    letter-spacing: normal;
    line-height: 24px;
  }
}

.donation .credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 349px;
  max-width: 349px;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .donation .credit-card {
    width: calc(281px + 68 * ((100vw - 320px) / 448));
  }
}

.donation .credit-card p {
  font-size: 20px;
  line-height: 23px;
}

@media (max-width: 768px) {
  .donation .credit-card p {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
  }
}

.donation .credit-card:hover {
  background-color: #FDDCC4;
}

.donation .content__info {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-style: italic;
  font-size: 11px;
  line-height: 18px;
  color: #B2B2B2;
  max-width: 380px;
}

@media (max-width: 768px) {
  .donation .content__info {
    letter-spacing: 0.03em;
    padding: 0 10px;
  }
}
/*# sourceMappingURL=main.css.map */