html {
  scroll-behavior: smooth;
}

.frame {
  max-width: 1280px;
  margin: auto;
}

.frame .wrap {
  margin: 0;
  padding: 80px 40px 100px 40px;
}

@media (max-width: 768px) {
  .frame .wrap {
    padding: 42px 10px;
    text-align: center;
  }
}

h1,
h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  p {
    text-align: justify;
  }
}

.btn {
  background: #F1CDB3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #FDDCC4;
}

.border-btn_hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.border-btn_hover:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

#btn_not-active {
  pointer-events: none;
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.logo {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo_hide {
  opacity: 0;
}

.logo__title {
  font-size: 32px;
  line-height: 35px;
  color: #F1CDB3;
}

.logo__subtitle {
  letter-spacing: 0.1em;
  line-height: 15px;
  font-size: 13px;
  margin: 11px 0 0 3px;
}

.nav__burger {
  position: relative;
  z-index: 2;
  display: none;
}

@media (max-width: 768px) {
  .nav__burger {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block;
    margin-right: 43px;
  }
}

.burger_rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.burger-bg {
  position: fixed;
  opacity: 0;
  top: 0;
  right: -100%;
  width: 100%;
  height: 823px;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 1;
  -webkit-transition: opacity 0.5s, right 0s;
  transition: opacity 0.5s, right 0s;
}

.burger__sidebar {
  position: fixed;
  overflow: auto;
  top: 0;
  right: -100%;
  width: 320px;
  height: 823px;
  background-color: #292929;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger__sidebar .nav__menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 115px 0;
  font-size: 32px;
  line-height: 51px;
  gap: 43px;
}

.sidebar__shadow {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #292929;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0px 12px 80px 88px #292929;
          box-shadow: 0px 12px 80px 88px #292929;
}

.noscroll {
  overflow: hidden;
}

.sidebar_active {
  right: 0;
  opacity: 1;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 24px;
  gap: 35px;
}

@media (max-width: 768px) {
  .nav__menu {
    display: none;
  }
}

.nav__link {
  color: #CDCDCD;
}

.nav__link a {
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link:hover a {
  color: #FAFAFA;
}

.nav__link_active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.footer {
  background: url("../../img/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer .wrap {
  padding: 40px 40px 0 40px;
  text-align: left;
}

@media (max-width: 1280px) {
  .footer .wrap {
    padding: 14px 63px 0 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer .wrap {
    padding: 30px 10px 0;
    text-align: center;
  }
}

.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .content .content__img {
  width: 300px;
}

@media (max-width: 768px) {
  .footer .content .content__img {
    width: calc(260px + 40 * ((100vw - 320px) / 448));
  }
}

@media (max-width: 1280px) {
  .footer .content {
    max-width: 1000px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 65px 60px;
  }
}

@media (max-width: 768px) {
  .footer .content {
    gap: 40px;
  }
}

.footer .content .contacts_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 280px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .footer .content .contacts_flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
  }
}

.footer .content h2 {
  font-size: 35px;
  color: #fff;
}

@media (max-width: 768px) {
  .footer .content h2 {
    font-size: 25px;
    line-height: 32px;
  }
}

.footer .content .contacts_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer .content .content__text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #F1CDB3;
  width: 260px;
}

@media (max-width: 768px) {
  .footer .content .content__text {
    width: auto;
    text-align: left;
  }
}

.footer .content .location {
  gap: 33px;
  width: 302px;
}

@media (max-width: 768px) {
  .footer .content .location__address {
    width: 100%;
  }
  .footer .content .location__head {
    width: 270px;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  cursor: pointer;
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover .card__btn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.card .card__btn {
  background-color: #fff;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 187px;
  height: 52px;
}

.card h2 {
  font-size: 20px;
  line-height: 23px;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  gap: 90px;
  margin: 53px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1280px) {
  .slider__wrap {
    gap: calc(40px + 50 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 1280px) {
  .slider__wrap {
    margin: calc(12px + 41 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 1280px) {
  .slider__wrap {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.btn {
  width: 261px;
}

.slider__arrow {
  cursor: pointer;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__bc {
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #fff;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
  width: 1280px;
}

.header__bc .wrap {
  margin: 30px 40px;
}

@media (max-width: 1280px) {
  .header__bc .wrap {
    margin: 30px;
  }
}

@media (max-width: 768px) {
  .header__bc .wrap {
    margin: 30px 10px 30px;
  }
}

.header__bc .logo__title {
  color: #545454;
}

.header__bc .logo__subtitle {
  color: #292929;
}

.header__bc .nav__link {
  color: #545454;
}

.header__bc .nav__link:hover a {
  color: #292929;
}

.header__bc .nav__link_active {
  color: #292929;
}

.header__bc .burger__sidebar {
  background: #545454;
}

.header__bc .burger__sidebar .nav__link {
  color: #CDCDCD;
}

.header__bc .burger__sidebar .nav__link a {
  -webkit-transition: .5s;
  transition: .5s;
}

.header__bc .burger__sidebar .nav__link:hover a {
  color: #FAFAFA;
}

.header__bc .burger__sidebar .nav__link_active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.header__bc .sidebar__shadow {
  background: #545454;
  -webkit-box-shadow: 0px 12px 80px 88px #545454;
          box-shadow: 0px 12px 80px 88px #545454;
}

@media (min-width: 1280px) {
  .header__bc {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .header__bc {
    width: calc(768px + 512 * ((100vw - 768px) / 512));
  }
}

.pets {
  background-color: #F6F6F6;
}

.pets .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

@media (max-width: 1280px) {
  .pets .wrap {
    gap: 30px;
    padding: 80px 30px 75px;
  }
}

@media (max-width: 768px) {
  .pets .wrap {
    padding: 42px 10px;
    gap: 42px;
  }
}

.pets .wrap .head {
  text-align: center;
}

.pets .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

@media (max-width: 1280px) {
  .pets .nav-btns {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .pets .nav-btns {
    gap: 10px;
    margin-top: 0;
  }
}

.pets .cards {
  width: 100%;
  margin-top: 15px;
}

@media (max-width: 1280px) {
  .pets .cards {
    margin: 0;
  }
}

.pets .slider__wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  gap: 30px 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1280px) {
  .pets .card:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 768px) {
  .pets .card:nth-last-child(-n+5) {
    display: none;
  }
}

.nav-btns__btn {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
}

.btn_fill {
  pointer-events: none;
  background-color: #F1CDB3;
  border: none;
}

.footer {
  width: 1280px;
}

@media (min-width: 1280px) {
  .footer {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .footer {
    width: calc(768px + 512 * ((100vw - 768px) / 512));
  }
}

@media (max-width: 768px) {
  .footer .content .contacts_flex {
    margin: 0;
  }
}
/*# sourceMappingURL=pets.css.map */