// footer frame ====================================
.footer {
    background: url("../../img/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    .wrap {
        padding: 40px 40px 0 40px;
        text-align: left;
        @media (max-width: 1280px) {
            padding: 14px 63px 0 63px;
            @include flex-center(main);
        }
        @media (max-width: 768px) {
            padding: 30px 10px 0;
            text-align: center;
        }
    }
    .content {
        .content__img {
            @include smooth-adaptive('width',
            300,
            260,
            320,
            768);
        }
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 1280px) {
            max-width: 1000px;
            justify-content: space-around;
            gap: 65px 60px;
        }
        @media (max-width: 768px) {
            gap: 40px;
        }
        .contacts_flex {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 280px;
            margin-top: 16px;
            @media (max-width: 768px) {
                align-items: center;
                margin-top: 5px;
            }
        }
        h2 {
            font-size: 35px;
            color: $main-color;
            @media (max-width: 768px) {
                font-size: 25px;
                line-height: 32px;
            }
        }
        .contacts_center {
            @include flex-center(cross);
            gap: 20px;
        }
        .content__text {
            @include fontGeorgia();
            font-size: 20px;
            line-height: 23px;
            color: $primar-color;
            width: 260px;
            @media (max-width: 768px) {
                width: auto;
                text-align: left;
            }
        }
        .location {
            gap: 33px;
            width: 302px;
        }
        @media (max-width: 768px) {
            .location__address {
                width: 100%;
            }
            .location__head {
                width: 270px;
            }
        }
    }
}