// logic, functions ====================================
@mixin flex-center($method) {
    display: flex;
    @if $method=='main' {
        justify-content: center;
    }
    @else if $method=='cross' {
        align-items: center;
    }
    @else if $method=='' {
        justify-content: center;
        align-items: center;
    }
}

@mixin fontGeorgia {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
}

@mixin fontArial {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
}

@mixin smooth-adaptive($css, $startSize, $minSize, $minScreen, $maxWidthContainer) {
    $addSize: $startSize - $minSize;
    #{$css}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
        #{$css}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minScreen + px}) / #{$maxWidthContainer - $minScreen}));
    }
}

@mixin smooth-adaptive-num($css, $minSize, $minScreen, $maxWidthContainer) {
    $addSize: $startSize - $minSize;
    #{$css}:calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minScreen + px}) / #{$maxWidthContainer - $minScreen}));
}

// variables ====================================
$primar-color:#F1CDB3;
$main-color:#fff;
$txt-color:#4C4C4C;
$postersub-color:#CDCDCD;
$btn-color:$primar-color;
$btn-txt-color:#292929;
$active-nav-color:#FAFAFA;
$content-head-txt-color:#545454;
$bg-section-color:#F6F6F6;
$hell-text-color:#B2B2B2;
$hover-color:#FDDCC4;
$animation-time:.5s;
$popup-bg-color:rgba(41, 41, 41, 0.6);
// global styles ====================================
html {
    scroll-behavior: smooth;
}

.frame {
    max-width: 1280px;
    margin: auto;
    .wrap {
        margin: 0;
        padding: 80px 40px 100px 40px;
        @media (max-width: 768px) {
            padding: 42px 10px;
            text-align: center;
        }
    }
}

h1,
h2 {
    @include fontGeorgia();
    font-size: 35px;
    line-height: 130%;
    color: $content-head-txt-color;
    @media (max-width: 768px) {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    p {
        text-align: justify;
    }
}

.btn {
    background: $btn-color;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    @include fontGeorgia();
    font-size: 17px;
    line-height: 22px;
    color: $btn-txt-color;
    cursor: pointer;
    transition: $animation-time;
    &:hover {
        background-color: $hover-color;
    }
}

.border-btn_hover {
    transition: $animation-time;
    &:hover {
        background-color: $hover-color;
        border-color: $hover-color;
    }
}

#btn_not-active {
    pointer-events: none;
    border: 2px solid #CDCDCD;
    color: $postersub-color;
}

img {
    object-fit: cover;
    max-width: 100%;
}