// slider-cards frame ====================================
.slider {
    display: flex;
    @include flex-center(cross);
    gap: 53px;
    @media (max-width: 1279px) {
        gap: 12px;
    }
}

// js slider infinity
.slider__wrap {
    overflow: hidden;
    width: 990px;
    // background: aqua;
    @media (max-width: 1279px) {
        width: 580px;
    }
    @media (max-width: 767px) {
        width: 270px;
    }
}

.slider__content {
    position: relative;
    left: -1080px;
    display: flex;
    @media (max-width: 1279px) {
        left: -621px;
    }
    @media (max-width: 767px) {
        left: -290px;
    }
}

.slider__item {
    display: flex;
    gap: 90px;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: 1279px) {
        margin-top: 0;
        margin-bottom: 0;
        gap: 40px;
    }
    
}
#item-active{
    margin: 0 90px;
    @media (max-width: 1279px) {
        margin: 0 40px;
    }
    @media (max-width: 767px) {
        margin: 0 20px;
    }
}

.btn {
    width: 261px;
}

.slider__arrow {
    cursor: pointer;
    @include fontGeorgia();
    font-size: 20px;
    line-height: 23px;
    color: $btn-txt-color;
    @include flex-center(main);
    align-items: center;
    background-color: transparent;
    border: 2px solid $primar-color;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}

// animation slider-content

/* адаптивная анимация из css*/
:root{
    --trans-anim:109%;
    --trans-anim-r:-109%;
  }
  
  @media (max-width: 1279px) {
    :root{
      --trans-anim:107%;
      --trans-anim-r:-107%;
    }
  }
  
  @-webkit-keyframes move-right {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(var(--trans-anim-r));
              transform: translateX(var(--trans-anim-r));
    }
  }
  
  @keyframes move-right {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(var(--trans-anim-r));
              transform: translateX(var(--trans-anim-r));
    }
  }
  
  @-webkit-keyframes move-left {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(var(--trans-anim));
              transform: translateX(var(--trans-anim));
    }
  }
  
  @keyframes move-left {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(var(--trans-anim));
              transform: translateX(var(--trans-anim));
    }
  }

.transition-right {
    animation: $animation-time+1 move-right;
}

.transition-left {
    animation: $animation-time+1 move-left;
}